.header{
    position: fixe;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 1px;
    background: #09b0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #000000;
    font-weight: 500px;
    margin-left: 20px;
    margin-right: 10px;
}